body {
  background: linear-gradient(rgb(15, 98, 189) 24%, rgb(10, 64, 122) 168%);
  font-family: 'Courier New';
  width: 100vw;
  height: 100vh;
  margin-top: 25vh;
}

#converter {
  display: flex;
  justify-content: space-around;
}

.widgetContainer {
  dislay: flex;
  flex-direction: column;
}

form {
  width: auto;
  height: 20vh;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 2px 2px 10px black;
}

form span {
  color: grey;
  padding: 5px 0 0 5px;
}

input, select {
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  background-color: orange;
  width: auto;
  margin: auto;
  border-radius: 5px;
  padding: 8px;
}

button:hover {
  opacity: 0.9;
}

.inputSection {
  display: flex;
  margin: auto;
}
